# Data Preprocessing Template

## Importing the libraries

In [1]:
import pandas as pd
import os

path = r'D:\Projects\Software_Engineering\Artificial_Intelligence\Huawei_Internship_16_Sep/Datasets'

## Importing the dataset

In [2]:
dataset = pd.read_csv(os.path.join(path, 'Data.csv'))
dataset.head()

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany   NaN     10.0       Yes

In [3]:
# iloc: This stands for "integer location-based indexing"
# is used to select rows and columns based on their integer positions.
# dataset.iloc[0:5, 1:3]  # Selects rows 0-4 and columns 1-2 (exclusive of column 3).

X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, -1].values


print(f'X.shape: {X.shape}')
print(f'y.shape: {y.shape}')

X.shape: (10, 3)
y.shape: (10,)

In [4]:
def display_split():
    print(f'X_train\n{x_train}\n\n')
    print(f'y_train\n{y_train}\n\n')
    print(f'X_test\n{x_test}\n\n')
    print(f'y_test\n{y_test}\n\n')

## Splitting the dataset into the Training set and Test set

In [5]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test =train_test_split(X, y, test_size=0.2)
display_split()

X_train
[['France' 35.0 58000.0]
 ['Spain' 38.0 61000.0]
 ['Spain' 50.0 nan]
 ['France' 48.0 nan]
 ['France' 44.0 72000.0]
 ['France' 37.0 67000.0]
 ['Germany' nan 10.0]
 ['Germany' 50.0 83000.0]]


y_train
['Yes' 'No' 'No' 'Yes' 'No' 'Yes' 'Yes' 'No']


X_test
[['Spain' 27.0 48000.0]
 ['Germany' 30.0 54000.0]]


y_test
['Yes' 'No']

In [6]:
x_train, x_test, y_train, y_test  = train_test_split(X, y, test_size=0.2, train_size=0.8, random_state=3)
display_split()

X_train
[['Spain' 27.0 48000.0]
 ['Germany' 30.0 54000.0]
 ['France' 37.0 67000.0]
 ['Spain' 50.0 nan]
 ['France' 48.0 nan]
 ['France' 44.0 72000.0]
 ['Spain' 38.0 61000.0]
 ['Germany' 50.0 83000.0]]


y_train
['Yes' 'No' 'Yes' 'No' 'Yes' 'No' 'No' 'No']


X_test
[['France' 35.0 58000.0]
 ['Germany' nan 10.0]]


y_test
['Yes' 'Yes']

In [7]:
import numpy as np

data = np.array([
       ['Germany', np.nan, 10.0],
       ['France', 37.0, 67000.0],
       ['Spain', 27.0, 48000.0],
       ['Spain', 50.0, np.nan],
       ['France', 48.0, np.nan],
       ['Spain', 38.0, 61000.0],
       ['France', 44.0, 72000.0],
       ['France', 35.0, 58000.0]], dtype=object)

print(data)

[['Germany' nan 10.0]
 ['France' 37.0 67000.0]
 ['Spain' 27.0 48000.0]
 ['Spain' 50.0 nan]
 ['France' 48.0 nan]
 ['Spain' 38.0 61000.0]
 ['France' 44.0 72000.0]
 ['France' 35.0 58000.0]]

In [8]:
def display_shape():
    print(f'x_train.shape: {x_train.shape}')
    print(f'x_test.shape: {x_test.shape}')
    print(f'y_train.shape: {y_train.shape}')
    print(f'y_test.shape: {y_test.shape}')

In [9]:
display_shape()

x_train.shape: (8, 3)
x_test.shape: (2, 3)
y_train.shape: (8,)
y_test.shape: (2,)