In [1]:
i = 1
while i<6:
    i = i+1
    if i==3:
        continue
    print(i)

2
4
5
6

In [2]:
i = 1
while i<6:
    i = i+1
    print(i)
else:
    print('Finished')

2
3
4
5
6
Finished

In [3]:
for i in range(5):
    print(i)

0
1
2
3
4

In [4]:
for i in range(1, 5):
    print(i)

1
2
3
4

In [5]:
for i in range(1,6,3):
    print(i)

1
4

In [6]:
x = [1,2,3,4]
for i in x:
    print(i)

1
2
3
4

In [7]:
x = [10,20,30,40]
for i in x:
    print(i)

10
20
30
40

In [8]:
x = [1,2,3,4]
for i in x:
    print(x[i-1])

1
2
3
4

In [9]:
x = (1,2,3,4,5)
for i in x:
    print(i)

1
2
3
4
5

In [10]:
x = 'Ahmed'
for i in x:
    print(i)

A
h
m
e
d

In [11]:
x = [10,20,30,40]
for i in x:
    if i%2==0:
        print('even')
    else:
        print('odd')

even
even
even
even

In [12]:
for i in range(5):
    print(i)
else:
    print('Welcome')

0
1
2
3
4
Welcome

In [13]:
for i in range (5):
    for j in range(5):
        print(i,j)

0 0
0 1
0 2
0 3
0 4
1 0
1 1
1 2
1 3
1 4
2 0
2 1
2 2
2 3
2 4
3 0
3 1
3 2
3 3
3 4
4 0
4 1
4 2
4 3
4 4

# Function

In [14]:
def my_fun():
    print('Welcome')

In [15]:
my_fun()

Welcome

In [16]:
def my_fun(fname):
    print(fname)

In [17]:
my_fun('Ali')
my_fun('Ahmed')
my_fun('Mona')
my_fun('Ali')

Ali
Ahmed
Mona
Ali

In [18]:
def my_fun(fname, lname):
    print(fname, lname)

In [19]:
my_fun('Ahmed', 'ali')

Ahmed ali

In [20]:
def my_fun(*name): # take multiple args as tuple
    print(name[0])
    print(name[1])
    print(type(name))

In [21]:
my_fun('ahmed', 5, 'hi')

ahmed
5
<class 'tuple'>

In [22]:
def my_fun(fname, lname):
    print(fname, lname)

In [23]:
my_fun(fname='ahmed', lname='ali')

ahmed ali

In [24]:
my_fun(lname='ahmed', fname='ali')

ali ahmed

In [25]:
my_fun('ahmed', 'ali')

ahmed ali

In [26]:
def print_fun(fname, lname):
    print(fname, lname)
print_fun(lname = '1', fname = '2')

2 1

In [27]:
print(1,2, sep = '*')

1*2

In [28]:
def my_fun(**name): # take multiple args as dict
    print(name['lname'])
    print(name['fname'])
    print(type(name))

In [29]:
my_fun(fname='ahmed', lname='ali')

ali
ahmed
<class 'dict'>

In [30]:
def my_fun(fname):
    print(fname)

In [31]:
my_fun(fname = 'ali')

ali

In [32]:
def my_fun(x):
    for i in x:
        print(i)

In [33]:
y = [1,2,3,4,5]
my_fun(y)

1
2
3
4
5

In [34]:
def my_fun(x):
    return x*5
my_fun(5)

25

In [35]:
x = 5
print(x)

5

In [36]:
x = lambda a, b: a*b
print(x(5, 10))

50

In [37]:
x(5)

TypeError: <lambda>() missing 1 required positional argument: 'b'

In [89]:
y = lambda a, b, c : a+b*c
print(y(1,2,3))

7

In [88]:
class my_class:
    x = 5

In [89]:
ob1 = my_class()

In [90]:
ob1.x

5

In [91]:
class printclass:
    x = 10
    y = 20
    z = 30

o1 = printclass()
o2 = printclass()
o3 = printclass()

print(o1.x)
print(o1.y)
print(o1.z)

10
20
30

In [92]:
# The this keyword doesn't exist in Python.
this.x = x

NameError: name 'this' is not defined

In [96]:
class my_class:
    def __init__(fname, lname): # Missing self argument: The __init__ method should always take self as the first argument
        self.fname = fname
        self.lname = lname

o1 = my_class('ali')
o1.fname
o1.lname

TypeError: my_class.__init__() missing 1 required positional argument: 'lname'

In [111]:
class person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def __str__(self): # special method that defines how the object should be represented as a string
        return f'Name: {self.name}, Age: {self.age}'

ob1 = person('ahmed', 10)
print(ob1)

Name: ahmed, Age: 10

In [112]:
class my_class:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def print_fun(self):
        print(self.name)
        
    def printAge(self):
        print(self.age)

ob1 = my_class('ahmed', 20)
ob1.age

20

In [113]:
ob1.name

'ahmed'

In [114]:
ob1.print_fun()

ahmed

In [115]:
ob1.printAge()

20

In [116]:
class my_class:
    def __init__(uuu, name, age): # self is conveniente word but not mandatory
        uuu.name = name
        uuu.age = age

    def print_fun(uuu):
        print(uuu.name)

    def printAge(uuu):
        print(uuu.age)

ob1 = my_class('ahmed', 20)
ob1.age

20

In [117]:
ob1.age = 50

In [118]:
ob1.age

50

In [119]:
del ob1

In [120]:
ob1.age

NameError: name 'ob1' is not defined

In [121]:
x = 5
x = 10

x

10

In [123]:
class person:
    def __init__(self, fname, lname):
        self.fname = fname
        self.lname = lname

    def print_fname(self):
        print(self.fname)


class student(person): # student class inherits from person class
    def __init__(self, fname, lname, age, year):
        person.__init__(self, fname, lname) # super().__init__(fname, lname) is correct also
        self.age = age
        self.year = year

    def printage(self):
        print(self.age)


o1 = student('ahmed', 'ali', 20, 2024)
o1.printage()
o1.print_fname()

20
ahmed

In [136]:
o1.fname

'ahmed'

In [137]:
o1.year

2024

In [138]:
o1.lname

'ali'

In [140]:
class person:
    def __init__(self, fname, lname):
        self.fname = fname
        self.lname = lname

    # Private methods are generally intended for internal use within the class
    # and are not directly accessible from outside the class.
    # However, in Python, private methods can still be accessed from outside the class,
    # but it's considered a convention to avoid doing so.
    def __my_fun(self):
        print(self.fname)

In [143]:
class student(person):
    def __init__(self, person, age, year):
        super.__init__(person.fname, person.lname)
        self.age = age
        self.year = year

    person.__my_fun(person('khaled', 'sameh'))

AttributeError: type object 'person' has no attribute '_student__my_fun'

In [144]:
o1 = person('ahmed', 'ali')
o1.fname
o1.lname
o1.__my_fun()

AttributeError: 'person' object has no attribute '__my_fun'

In [146]:
x = [1,2,3,4,5]
# creates an iterator object y from the list x.
# Iterators provide a way to sequentially access the elements of an iterable object.
y = iter(x)

print(next(y)) # prints the first element of the iterator y, which is 1.
print(next(y)) # prints the second element of the iterator y, which is 2.

1
2

In [148]:
class car:
    def __init__(self, brand, model):
        self.brand = brand
        self.model = model
    def move(self):
        print('Drive')

class boat:
    def __init__(self, brand, model):
        self.brand = brand
        self.model = model
    def move(self):
        print('Sail')

class plane:
    def __init__(self, brand, model):
        self.brand = brand
        self.model = model
    def move(self):
        print('fly')


car1 = car('Toyota', 2024)
print(car1.brand)
print(car1.model)
car1.move()

Toyota
2024
Drive

In [152]:
class Vehicle:
    def __init__(self, brand, model):
        self.brand = brand
        self.model = model
    def move(self):
        print('move')

class car(Vehicle):
    pass

class boat(Vehicle):
    def move(self):
        print('Sail')

class plane(Vehicle):
    def move(self):
        print('fly')


car1 = car('Toyota', 2019)
print(car1.brand)
car1.move()

Toyota
move

In [156]:
w = 180.5 # global variable

def my_fun(d):
    global u # global variable u, even if it's not explicitly defined outside the function.
    u = 50
    print(d)

    
my_fun(16)
print(w)
print(u)

16
180.5
50